// If you're considering changing this, be careful not to violate licence terms.
.enketo-power
  span(data-i18n='enketo.power')= t('enketo.power')  
  a(href="https://www.data123.online", title="Data 123")
    img(src=`${basePath}${offlinePath || ''}/images/white_logo.png`, alt="Data123 logo")

